* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: #343a40 !important;
}
.center-nav {
  max-width: 1200px;
  margin: auto;
}
.item-img {
  max-height: 135px;
  max-width: 135px;
}
.add-item-btn {
  border-radius: 0.25rem;
  border: 1px #c1c1c1 solid;
}
.add-item-btn:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}
.login {
  max-width: 720px;
  margin-top: 50px;
}
#account-dropdown {
  color: white;
  font-weight: bold;
  border: none;
  background-color: transparent;
}
#account-dropdown:focus {
  box-shadow: none !important;
}
#welcome-msg {
  color: white;
}
.dropdown-item.active {
  color: #212529;
  background-color: transparent;
}
.item-img-cart {
  width: 50px;
  height: 50px;
}
.mini-price {
  position: absolute;
  bottom: 0;
  right: 0;
}
.sidebar {
  height: 100vh;
  position: sticky;
  top: 0;
  width: 240px;
}
.quanity-icon {
  cursor: pointer;
}
.cartitembtn {
  min-width: 45px;
}

/* responsive css */
.item-list {
  width: 100%;
  padding: 5px;
  height: 100vh;
  background-color: #f6f6f6;
}
.item-inner {
  border: 1px #c1c1c1 solid;
  background-color: #fff;
  height: 100%;
}
.item-container {
  min-height: 150px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.itemname {
  height: 50px;
  overflow: hidden;
  text-align: center;
}
@media (min-width: 576px) {
  .item-inner {
    border-radius: 15px;
  }
}
@media (min-width: 768px) {
  .item-list {
    max-width: 992px;
    padding: 5px;
  }
}
